@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.fadeIn{
    animation-name:fadeInAnime;
    animation-duration:2.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeInAnime{
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
a{
    text-decoration: none;
    color: aliceblue;
}

body{

    font-family: 'Playball', cursive;
    font-size: 200%;
    color: aliceblue;
    text-align: center;
    line-height: 2.0;
    margin: 0%;
    border: 0%;
    padding: 0%;
}

#wrapper{
    display: block;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #fff;
}
  
html,body{
    height: 100%;
    margin: 0;
}
  
#particles-js{ 
    position:fixed;
    z-index:-1;
    width: 100%;
    height: 100%;
    background-color:#172366;
    margin: 0;
}
  
#wrapper{
    position: relative;
    z-index: 1;
    width:100%;
    height: 100%;
}

@media only screen and (max-width : 750px){
    body{
        font-size: 25px;
    }
}
